.title {
    color: #0c041d;
  }
  body {
    background-color: #e9edf1;
 }

 .header{
  height: 60px;
  width: 1200px;
  background-color:#1100ff;
  color: #ffffff;
}
  
.header-logo {
  float: left;
  font-size: 30px;
  padding: 10px 20px;
}
  
.header-list li {
  list-style: none;
  float: left;
  padding: 15px 20px;
}
.footer{
  height:80px;
  width:1200px;
  background-color: #00008b;
  color: #ffffff;
}

.footer-logo {
  float:left;
  font-size: 25px;
  padding: 10px 20px;
}
  
.footer-list li {
  list-style: none;
  float: right;
  padding: 15px 20px;
}
