.title {
    color: #0c041d;
  }
  body {
    background-color: #e9edf1;
 }
 ul, ol {
  color: #1e366a;
  border-top: solid #1e366a 1px;/*上のボーダー*/
  border-bottom: solid #1e366a 1px;/*下のボーダー*/
  padding: 0.5em 0 0.5em 1.5em;
}

ul li, ol li {
  line-height: 1.5;
  padding: 0.5em 0;
}

 .header{
  height: 60px;
  width: 1200px;
  background-color:#006eff;
  color: #ffffff;
}
  
.header-logo {
  float: left;
  font-size: 30px;
  padding: 10px 20px;
}
  
.header-list li {
  list-style: none;
  float: left;
  padding: 15px 20px;
}
.footer{
  height:80px;
  width:1200px;
  background-color: #008b56;
  color: #ffffff;
}

.footer-logo {
  float:left;
  font-size: 25px;
  padding: 10px 20px;
}
  
.footer-list li {
  list-style: none;
  float: right;
  padding: 15px 20px;
}
.contact-form {
  padding-top: 100px;
}

/* inputとtextareaのCSSを指定してください */
input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

/* contact-submitのCSSを指定してください */
.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}
